#chat {
	background-image: url('../../images/Tab/skype.png');
	background-repeat: no-repeat;
}

#chat #chatOutText {
	overflow-y: scroll;
	height: 350px;
	width: 270px;
	position: absolute;
	margin: 36px 0px;
}

#chat #chatOutText #chatTable {
	width: 253px;
}

#chat #chatOutText tr.collor td {
	background-color: #e7f1f5;
}

#chat #chatOutText .time {
	width: 30px;
	color: gray;
}

#chat #chatOutText .sender {
	color: #009AEE;
}

#chat #chatInText {
	border: solid 2px;
	border-color: aquamarine;
	background: white;
	height: 30px;
	width: 258px;
	position: absolute;
	margin: 390px 5px;
}