#chat {
	background-image: url('../../images/Tab/skype.png');
	background-repeat: no-repeat;
}

#chat #chatOutText {
	overflow-y: scroll;
	height: 350px;
	width: 270px;
	position: absolute;
	margin: 36px 0px;
}

#chat #chatOutText #chatTable {
	width: 253px;
}

#chat #chatOutText tr.collor td {
	background-color: #e7f1f5;
}

#chat #chatOutText .time {
	width: 30px;
	color: gray;
}

#chat #chatOutText .sender {
	color: #009AEE;
	cursor: default;
}

#chat #chatOutText .sender:hover {
	text-decoration: underline;
}

#chat #chatInText {
	border: solid 2px;
	border-color: aquamarine;
	background: white;
	height: 30px;
	width: 258px;
	position: absolute;
	margin: 390px 5px;
}

#chat #userInfo {
	display: none;
	z-index: 3;
	position: absolute;
	margin: 100px 35px;
	height: 200px;
	width: 200px;
	border: solid 2px black;
	background-color: white;
}

#chat .fuckAndDig {
	background-image: url('../../images/Tab/smile.png');
	background-repeat: no-repeat;
	height: 65px;
	width: 50px;
}