.chat {
	background-image: url('../../images/chat.png');
	background-repeat: no-repeat;
	height: 439px;
	width: 271px;
	font-family: Tahoma;
	position: absolute;
	margin: 56px 45px;
}

.chat #chatOutText {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 360px;
	width: 271px;
	position: absolute;
	margin: 36px 0px;
}

.chat #chatOutText #chatTable {
	width: 254px;
}

.chat #chatOutText tr.collor td {
	background-color: #e7f1f5;
}

.chat #chatOutText .time {
	width: 30px;
	color: gray;
}

.chat #chatOutText .sender {
	color: #009AEE;
}

.chat #chatOutText .msg {
	width: 254spx;
}

.chat #chatInText {
	border: solid 2px;
	border-color: aquamarine;
	background: white;
	height: 30px;
	width: 258px;
	position: absolute;
	margin: 400px 5px;
}
}