#flipper {
	background-image: url('../../images/Tab/flipper/background.png');
	background-repeat: no-repeat;
}

#flipper #cont {
	height: 300px;
	width: 270px;
	position: absolute;
	margin: 70px 0px;
}

#flipper #msgOut {
	font-size: 20px;
	font-weight: bold;
	color: snow;
	width: 270px;
	height: 24px;
	text-align: center;
}

#flipper #field {
	margin: 30px auto;
}

#flipper #field div {
	height: 30px;
	width: 30px;
}

#flipper #field .black {
	background-image: url('../../images/Tab/flipper/black.png');
	background-repeat: no-repeat;
}

#flipper #field .white {
	background-image: url('../../images/Tab/flipper/white.png');
	background-repeat: no-repeat;
}

#flipper .flipperButton {
	background-image: url('../../images/Tab/flipper/button_sprite.png');
	background-repeat: no-repeat;
	height: 30px;
	width: 115px;
	cursor: pointer;
	position: absolute;
	margin-top: 390px;
	text-align: center;
}

#flipper .flipperButton:hover {
	background: url('../../images/Tab/flipper/button_sprite.png') bottom;
}

#flipper .flipperButton p {
	font-weight: bold;
	color: brown;
	margin-top: 5px;
}

#flipper #newGame {
	margin-left: 10px;
}

#flipper #reset {
	margin-left: 140px;
}