#flip {
	background-image: url('../../images/Tab/flipper/background.png');
	background-repeat: no-repeat;
}

#flip #field {
	margin: 50px auto;
}

#flip #field div {
	height: 30px;
	width: 30px;
}

#flip #field .black {
	background-image: url('../../images/Tab/flipper/black.png');
	background-repeat: no-repeat;
}

#flip #field .white {
	background-image: url('../../images/Tab/flipper/white.png');
	background-repeat: no-repeat;
}