#flip {
	background-color: yellow;
}

#flip #field {
	margin: 50px auto;
}

#flip #field div {
	height: 30px;
	width: 30px;
}

#flip #field .black {
	background-color: black;
}

#flip #field .white {
	background-color: white;
}