#pics_game {
	background: url("../../images/Tab/picsGame/picsbackground.png")
		no-repeat; 
	width: 270px;
	height: 430px;
	border: 1px solid black;
}

#picsTable {
	width: 230px;
	height: 350px;
	margin-top: 40PX;
}

.picsCell img
{
	margin-left: 2px;
}