#sudoku {
	background-image: url('../../images/Tab/sudoku/background.png');
	background-repeat: no-repeat;
	font-weight: bold;
}

#sudoku #level {
	position: absolute;
	margin: 100px 100px;
}

#sudoku #value {
	display: none;
	border: solid 2px;
	border-color: black;
	background-color: khaki;
	height: 80px;
	width: 50px;
	cursor: pointer;
	z-index: 2;
	font-size: 12px;
	position: absolute;
}

#sudoku #field {
	background-image: url('../../images/Tab/sudoku/table.png');
	background-repeat: no-repeat;
	height: 243px;
	width: 243px;
	position: absolute;
	margin: 120px 14px;
}

#sudoku #field td {
	font-size: 16px;
	cursor: pointer;
	height: 27px;
	width: 27px;
}

#sudoku #field div {
	background-image: none;
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: middle;
	height: 25px;
	width: 25px;
	margin: 1px 1px;
}

#sudoku .levelButton {
	background-image: url('../../images/Tab/sudoku/smallButton1.png');
	background-repeat: no-repeat;
	height: 29px;
	width: 66px;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	color: maroon;
	cursor: pointer;
}

#sudoku #levelsBar {
	position: absolute;
	margin: 380px 30px;
}