#tab {
	background-image: url('../../images/Tab/tab.png');
	background-repeat: no-repeat;
	height: 570px;
	width: 360px;
	font-family: Tahoma;
	float: left;
	margin-top: 50px;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#tab .display {
	font-family: Tahoma;
	height: 430px;
	width: 270px;
	position: absolute;
	margin: 56px 45px;
}

#tab #bar {
	height: 30px;
	width: 270px;
	position: absolute;
	margin: 486px 45px;
}

#tab #bar #back {
	background-image: url('../../images/Tab/back.png');
	background-repeat: no-repeat;
	height: 30px;
	width: 135px;
	position: absolute;
	margin: 0px 0px;
}

#tab #bar #back:hover {
	background-image: url('../../images/Tab/backOver.png');
}

#tab #bar #clock {
	font-size: 20px;
	text-align: center;
	color: deepSkyBlue;
	height: 30px;
	width: 135px;
	cursor: default;
	position: absolute;
	margin: 0px 135px;
	padding-top: 2px;
}