#tab {
	background-image: url('../../images/Tab/tab.png');
	background-repeat: no-repeat;
	height: 570px;
	width: 360px;
	font-family: Tahoma;
	float: left;
	margin-top: 50px;
}

#tab .display {
	font-family: Tahoma;
	height: 430px;
	width: 270px;
	position: absolute;
	margin: 56px 45px;
}

#tab .bar {
	background-image: url('../../images/Tab/bar.png');
	background-repeat: no-repeat;
	height: 30px;
	width: 270px;
	position: absolute;
	margin: 486px 45px;
}