#xoGame .namespace {
	background-image: url('../../images/XO/namespace.png');
	background-repeat: no-repeat;
	height: 30px;
	width: 193px;
}

#xoGame .namespace p {
	font-weight: bold;
	margin: 5px 20px;
}

#xoGame #myName {
	position: absolute;
	margin: 30px 85px;
}

#xoGame #opName {
	position: absolute;
	margin: 30px 335px;
}

#xoGame .playerStat {
	display: none;
	background-image: url('../../images/XO/namespace2.png');
	background-repeat: no-repeat;
	height: 120px;
	width: 193px;
	z-index: 2;
}

#xoGame .playerStat table {
	margin: 30px 10px;
}

#xoGame #myNameStat {
	position: absolute;
	margin: 30px 85px;
}

#xoGame #opNameStat {
	position: absolute;
	margin: 30px 335px;
}

#xoGame #tick {
	background-image: url('../../images/XO/tick.png');
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	
	position: absolute;
	margin: 5px 460px;
}

#xoGame #outText {
	margin-top: 75px;
}

#xoGame #win {
	position: absolute;
	margin: 250px 200px;
}

#xoGame #border {
	background-image: url('../../images/XO/border.png');
	background-repeat: no-repeat;
	height: 419px;
	width: 427px;
	
	position: absolute;
	margin: 150px 94px;
}

#xoGame #field {
	position: absolute;
	margin: 160px 107px;
}