.paperList {
	background-image: url('../../images/XO/list.png');
	background-repeat: no-repeat;
	height: 734px;
	width: 635px;
	font-family: LC Chalk;
	font-size: 16px;
	font-weight: bold;
	color: #5B2FCE;
}

.paperList .title {
	width: 450px;
	font-size: 30px;
	position: absolute;
	margin-left: 80px;
}

.paperList .homeButton {
	background-image: url('../../images/XO/home.png');
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	cursor: pointer;
	position: absolute;
	margin: 20px 540px;
	position: absolute;
}

.paperList .refreshButton {
	background-image: url('../../images/XO/refresh.png');
	background-repeat: no-repeat;
	height: 40px;
	width: 60px;
	cursor: pointer;
	position: absolute;
	margin: 80px 540px;
	position: absolute;
}

.paperList .backButton {
	background-image: url('../../images/XO/back.png');
	background-repeat: no-repeat;
	height: 40px;
	width: 60px;
	cursor: pointer;
	position: absolute;
	margin: 135px 540px;
	position: absolute;
}

.paperList .button {
	background-image: url('../../images/XO/button.png');
	background-repeat: no-repeat;
	height: 35px;
	width: 270px;
	cursor: pointer;
}

.paperList .buttonText {
	font-size: 20px;
	color: white;
}