.paperList #startButton {
	position: absolute;
	margin: 70px 170px;
	display: none;
}

.paperList #msg {
	margin-top: 150px;
	font-size: 20px;
}

.paperList #sudoku {
	margin: 250px 125px;
	position: absolute;
}