#xoMenu #rulles {
	width: 400px;
	position: absolute;
	margin: 400px 110px;
}

#xoWaitPage #startButton {
	display: none;
	position: absolute;
	margin: 200px 170px;
}

#xoWaitPage #msg {
	color: inherit;
	font-size: 20px;
	margin-top: 300px;
}

#xoServerList .menu #list {
	overflow: auto;
	height: 420px;
	width: 345px;
}

#xoStatistics table {
	width: 420px;
	text-align: center;
	vertical-align: middle;
	margin: 150px 100px;
}

#xoStatistics table .iam {
	color: red;
}