#xoMenu #rulles {
	width: 400px;
	position: absolute;
	margin: 400px 110px;
}

#xoWaitPage #startButton {
	display: none;
	position: absolute;
	margin: 200px 170px;
}

#xoWaitPage #msg {
	font-size: 20px;
	margin-top: 300px;
}

#xoStatistics table {
	width: 420px;
	text-align: center;
	vertical-align: middle;
	margin: 100px 100px;
}

#xoStatistics table .iam {
	color: red;
}