<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	 <appender name="CA" class="org.apache.log4j.DailyRollingFileAppender" >
	     <param name="File" value="${catalina.base}/logs/school.log"/>
	     <param name="datePattern" value="'.'yyyy-MM-dd" />
   		 <param name="append" value="true" />
		 <layout class="org.apache.log4j.PatternLayout">
		 <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
		 </layout>
	</appender>
     
	<appender name="CB" class="org.apache.log4j.ConsoleAppender" >
	     <layout class="org.apache.log4j.PatternLayout">
		    <param name="ConversionPattern" value="%d{ABSOLUTE} 
		      %5p %c{1}:%L - %m%n"/>
		</layout>
		
	</appender>
	
    
	
	    <root>
	  		<priority value="debug"></priority>
	  		<appender-ref ref="CA"/>
	  		 <appender-ref ref="CB"/>
		</root>
</log4j:configuration>