#pts_body {
	font-family: LC Chalk;
	font-size: 22px;
	color: #5B2FCE;
}

#pts_bg {
	background-image: url('../../images/Points/background.png');
	width: 605px;
	height: 705px;
	margin: 0px 0px;
}

#pts_bg_game_list {
	background-image: url('../../images/Points/game_list_background.png');
	width: 605px;
	height: 705px;
	margin: 0px 0px;
}

#pts_bg_end_ofGame {
	background-image: url('../../images/Points/endofGameBackground.png');
	width: 605px;
	height: 705px;
	margin: 0px 0px;
}

#pts_player1_score {
	position: absolute;
	margin: 37px 95px;
	width: 160px;
	text-align: center;
}

#pts_player2_score {
	position: absolute;
	margin: 43px 373px;
	width: 160px;
	text-align: center;
}

#pts_player_label_1 {
	position: absolute;
	margin: 75px 90px;
	width: 160px;
	text-align: center;
	font-size: 16px;
	vertical-align:middle;
}

#pts_player_label_2 {
	position: absolute;
	margin: 78px 368px;
	width: 140px;
	text-align: center;
	font-size: 16px;
	vertical-align:middle;
}

.pts_player_div_elements {
	margin-top: 10px;
}

#pts_label_win_loose {
	position: absolute;
	margin: 300px 300px;
	width: 300px;
	text-align: center;
	font-size: 24px;
}

#pts_game_table {
	position: absolute;
	margin: 190px 97px;
}

#pts_canvas {
	position: absolute;
	margin: 186px 95px;
	width: 406px;
	height: 395px;
}

#pts_table1:hover {
	cursor: url('../../images/Points/cursor.png'), pointer;
}

#pts_table1 tr td {
	width: 20px;
}

#pts_table1 tr {
	height: 20px;
}

#pts_menu_connect {
	position: absolute;
	margin: 140px 300px;
	width: 170px;
	height: 133px;
}

#pts_label_connect {
	margin: 100px 20px;
	font-size: 24px;
}

#pts_menu_create {
	position: absolute;
	margin: 140px 100px;
	width: 170px;
	height: 133px;
}

#pts_label_create {
	margin: 100px 20px;
	font-size: 24px;
}

#pts_menu_statistics {
	position: absolute;
	margin: 340px 100px;
	width: 170px;
	height: 133px;
}

#pts_label_statistics {
	margin: 100px 20px;
	font-size: 24px;
}

#pts_menu_rules {
	position: absolute;
	margin: 340px 300px;
	width: 170px;
	height: 133px;
}

#pts_label_rules {
	margin: 100px 20px;
	font-size: 24px;
}

#pts_servers_div {
	overflow-y: auto;
	position: absolute;
	margin: 390px 120px;
	width: 355px;
	height: 175px;
}

.pts_server_div {
	width: 110px;
	height: 35px;
}

.pts_server_div:hover {
	font-size: 18px;
}

#pts_server_label:hover {
	text-decoration: underline;
}

#waiting_for_client {
	position: absolute;
	width: 300px;
	height: 30px;
	margin: 140px 155px;
	visibility: hidden;
}

#wait {
	position: absolute;
	width: 61px;
	height: 51px;
	margin: 86px 275px;
	visibility: hidden;
}
