body {
	font-family: LC Chalk;
	font-size: 22px;
	color: #5B2FCE;
}

#bg {
	background-image: url('../../images/Points/background.png');
	width: 605px;
	height: 705px;
	margin: 50px auto;
}

#player_label_1 {
	position: absolute;
	margin: 20px 45px;
	width: 160px;
	text-align: center;
}

#player_label_2 {
	position: absolute;
	margin: 20px 330px;
	width: 160px;
	text-align: center;
}

#game_table {
	position: absolute;
	margin: 130px 50px;
}

#canvas {
	position: absolute;
	margin: 130px 50px;
}

#table1 tr td {
	width:20px;
}

#table1 tr {
	height:20px;
}

.point:hover {
	background-image: url('../../images/Points/point_hover.png');
}
