#chat {
	background-image: url('../images/tab.png');
	background-repeat: no-repeat;
	height: 633px;
	width: 400px;
	font-family: Tahoma;
	position: absolute;
	margin: 0px 150px;
	z-index: 1;
}

#chatOutText {
	border: 1px solid red;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 390px;
	width: 300px;
	position: absolute;
	margin: 100px 50px;
}

#chatTable {
	width: 300px;
}

tr.collor td {
	background-color: #e7f1f5;
}

.time {
	width: 30px;
	color: gray;
}

.sender {
	color: #009AEE;
}

.msg {
	width: 300px;
}

#chatInText {
	border: inherit;
	background: initial;
	height: 40px;
	width: 285px;
	position: absolute;
	margin: 501px 58px;
}