#infbody{
	font-size: 35px;
}

#infbg {
	background-repeat: no-repeat;
	width: 600px;
	height: 700px;
	margin: 25px auto;
}

#infection_title{
	font-size: 35px;
	color:#0000FF;
	position:absolute;
	margin:60px 160px;
}

#inftable tr td {
	width:40px;
}

#inftable tr {
	height:40px;
}

.chip:hover{
	background-image: url('../images//Infection/hoverfield_cell.png');
}

#infgame_table {
	position:absolute; 
	margin:1px 1px;
}

#inf_table_bg{
	background-image: url('../images//Infection/infection_table1.png');
	position:absolute; 
	margin:120px 107px;
	width:283px;
	height:283px;
}

#infplayer_label_1 {
	position: absolute;
	margin: 460px 40px;
	width: 160px;
	text-align: center;
	color:#0000FF;
	
}

#inf_message_place{
	position:absolute;
	margin:200px 407px;
	width: 100px;
	height: 140px;
	font-size: 15px;
	text-align: center;
}

#infplayer_label_2 {
	position: absolute;
	margin: 460px 320px;
	width: 160px;
	text-align: center;
	color:#0000FF;
	
}

#infscore_label_1 {
	position: absolute;
	margin: 550px 40px;
	width: 160px;
	text-align: center;
	color:red;
}

#infscore_label_2 {
	position: absolute;
	margin: 550px 320px;
	width: 160px;
	text-align: center;
	color:red;
}

#infNewGame{
	position:absolute;
	margin:140px 160px;
}

#infConnectGame{
	position:absolute;
	margin:200px 160px;
}

#infRules{
	position:absolute;
	margin:260px 160px;
}

#infConectList{
	position:absolute;
	margin:60px 160px;
}

#winner_img{
	background-image: url('../images//Infection/winner_cup.gif');
	position:absolute;
	margin:140px 167px;
	width: 260px;
	height: 300px;
}

#congrat_message{
	position:absolute;
	margin:420px 30px;
	font-size: 25px;
	text-align: center;
	width: 500px;
}

#loser_img{
	background-image: url('../images//Infection/loser.gif');
	position:absolute;
	margin:140px 127px;
	width: 340px;
	height: 260px;
}

#loser_message{
	position:absolute;
	margin:420px 30px;
	font-size: 25px;
	text-align: center;
	width: 500px;
}

#inf_game_rules{
	position:absolute;
	margin:140px 127px;
	width: 340px;
	height: 260px;
	font-size: 15px;
}