.exitButton{
	background-image: url('../images/Infection/exit_button.png');
	margin:480px 247px;
	width:80px;
	height:80px;
}

.exitButton:hover{
	background-image: url('../images/Infection/exit_button_hover.png');
	margin:480px 247px;
	width:80px;
	height:80px;
}

.exitInGameButton{
	position:absolute;
	background-image: url('../images/Infection/exit_button.png');
	margin:480px 447px;
	width:80px;
	height:80px;
}

.exitInGameButton:hover{
	position:absolute;
	background-image: url('../images/Infection/exit_button_hover.png');
	margin:480px 447px;
	width:80px;
	height:80px;
}

#infbody{
	font-size: 35px;
}

#infbg {
	background-repeat: no-repeat;
	width: 600px;
	height: 700px;
	margin: 25px auto;
}

#infection_title{
	font-size: 35px;
	color:#0000FF;
	position:absolute;
	margin:60px 160px;
}

#inftable tr td {
	width:40px;
}

#inftable tr {
	height:40px;
}

.chip:hover{
	background-image: url('../images/Infection/hoverfield_cell.png');
}

#infgame_table {
	position:absolute; 
	margin:20px 20px;
}

#inf_table_bg{
	background-image: url('../images/Infection/infection_table_1.png');
	position:absolute; 
	margin:80px 107px;
	width:360px;
	height:360px;
}

#infplayer_label_1 {
	position: absolute;
	margin: 440px 80px;
	width: 160px;
	text-align: center;
	color:#562FB7;
	
}

#inf_message_place{
	position:absolute;
	margin:440px 327px;
	width: 100px;
	height: 140px;
	font-size: 15px;
	text-align: center;
}

#infplayer_label_2 {
	position: absolute;
	margin: 520px 80px;
	width: 160px;
	text-align: center;
	color:#562FB7;
	
}

#infscore_label_1 {
	/*background-image: url('../images/Infection/infscore_bg.png');*/
	position: absolute;
	margin: 440px 247px;
	width: 60px;
	height: 60px;
	text-align: center;
	color:red;
}

#infscore_label_2 {
	/*background-image: url('../images/Infection/infscore_bg.png');*/
	position: absolute;
	margin: 520px 247px;
	width: 60px;
	height: 60px;
	text-align: center;
	color:red;
}

#infNewGame{
	position:absolute;
	margin:140px 160px;
}

#infConnectGame{
	position:absolute;
	margin:200px 160px;
}

#infRules{
	position:absolute;
	margin:260px 160px;
}

#infStatistic{
	position:absolute;
	margin:320px 160px;
}

#infConectList{
	position:absolute;
	margin:60px 160px;
}

#winner_img{
	background-image: url('../images/Infection/winner_cup.gif');
	position:absolute;
	margin:140px 167px;
	width: 260px;
	height: 300px;
}

#congrat_message{
	position:absolute;
	margin:420px 30px;
	font-size: 25px;
	text-align: center;
	width: 500px;
}

#loser_img{
	background-image: url('../images/Infection/loser.gif');
	position:absolute;
	margin:140px 127px;
	width: 340px;
	height: 260px;
}

#loser_message{
	position:absolute;
	margin:420px 30px;
	font-size: 25px;
	text-align: center;
	width: 500px;
}

#inf_game_rules{
	position:absolute;
	margin:140px 127px;
	width: 340px;
	height: 260px;
	font-size: 15px;
}

#inf_player_out{
	position: absolute;
	width: 635px;
	height: 735px;
	z-index: 3;
	margin: 397px 90px;
	font-size: 25px;
	color:red;
	visibility: hidden;
}

#inf_player_out_bg{
	background-image: url('../images/Points/background_surrender1.png');
	margin: 200px 140px;
	position: absolute;
	width: 320px;
	height: 150px;
}


#infStatistics table {
	width: 420px;
	text-align: center;
	vertical-align: middle;
	margin: 150px 100px;
}

#infStatistics table .iam {
	color: red;
}