#body{
	background-color: white;
	font-size: 35px;
}

#bg {
	background-image: url('../images//Infection/infection_game_background.png');
	background-repeat: no-repeat;
	width: 600px;
	height: 700px;
	margin: 25px auto;
	
	box-shadow: 0 0 5px black; /* Параметры тени */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
	
}

#infection_title{
	font-size: 35px;
	color:#0000FF;
	position:absolute;
	margin:40px 160px;
}

#table tr td {
	width:40px;
}

#table tr {
	height:40px;
}

.chip:hover{
	background-image: url('../images//Infection/hoverfield_cell.png');
}

#game_table {
	position:absolute;
	margin:160px 120px;
	width:280px;
	height:280px;
	
}

#player_label_1 {
	position: absolute;
	margin: 460px 40px;
	width: 160px;
	text-align: center;
	color:#0000FF;
	
}

#player_label_2 {
	position: absolute;
	margin: 460px 320px;
	width: 160px;
	text-align: center;
	color:#0000FF;
	
}

#score_label_1 {
	position: absolute;
	margin: 550px 40px;
	width: 160px;
	text-align: center;
	color:red;
}

#score_label_2 {
	position: absolute;
	margin: 550px 320px;
	width: 160px;
	text-align: center;
	color:red;
}