#login #loginForm,#register #registerForm {
	margin: 160px auto;
	width: 280px;
}

#login .formText,#register .formText {
	font-size: 25px;
	text-align: center;
}

#login .formError,#register .formError {
	height: 60px;
	font-size: 16px;
	text-align: center;
	color: red;
}

#login .input,#login .button,#register .input,#register .button {
	text-align: center;
}

#login #loginForm input,#register #registerForm input {
	background: none;
	width: 220px;
	border: solid 2px #5B2FCE;
	font: inherit;
	color: #5B2FCE;
}