body {
	background-image: url('../images/parta2.jpg');
	background-repeat: repeat;
}

.page {
	width: 1000px;
	margin: 0 auto;
}

#lang_bar {
	background-image: url('../images/language_bar.png');
	background-repeat: no-repeat;
	height: 57px;
	width: 165px;
	padding: 13px 5px;
	position: fixed;
	z-index: 3;
}

.flag {
	border: 2px solid;
	border-color: transparent;
	margin-left: 10px;
}

.flag:hover {
	border-color: gray;
	margin-left: 10px;
}

.paperList {
	background-image: url('../images/paperList/list.png');
	background-repeat: no-repeat;
	height: 735px;
	width: 635px;
	font-family: LC Chalk;
	font-size: 16px;
	font-weight: bold;
	color: #5B2FCE;
	float: left;
	margin-left: 5px;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

@font-face {
	font-family: 'LC Chalk';
	src: url('../font/LC_Chalk.eot?') format('embedded-opentype'),
		url('../font/LC_Chalk.ttf') format('truetype');
}

.paperList #wait_response {
	margin: 300px 280px;
}

.paperList .title {
	color: red;
	width: 450px;
	font-size: 30px;
	position: absolute;
	margin: 40px 80px;
}

.paperList .homeButton {
	background-image: url('../images/paperList/home_sprite.png');
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	cursor: pointer;
	position: absolute;
	margin: 20px 540px;
}

.paperList .homeButton:hover {
	background: url('../images/paperList/home_sprite.png') bottom;
}

.paperList .refreshButton {
	background-image: url('../images/paperList/refresh_sprite.png');
	background-repeat: no-repeat;
	height: 40px;
	width: 60px;
	cursor: pointer;
	position: absolute;
	margin: 80px 540px;
}

.paperList .refreshButton:hover {
	background: url('../images/paperList/refresh_sprite.png') bottom;
}

.paperList .backButton {
	background-image: url('../images/paperList/back_sprite.png');
	background-repeat: no-repeat;
	height: 40px;
	width: 60px;
	cursor: pointer;
	position: absolute;
	margin: 135px 540px;
}

.paperList .backButton:hover {
	background: url('../images/paperList/back_sprite.png') bottom;
}

.paperList .button {
	background-image: url('../images/paperList/button_sprite.png');
	background-repeat: no-repeat;
	height: 40px;
	width: 280px;
	cursor: pointer;
}

.paperList .button:hover {
	background: url('../images/paperList/button_sprite.png') bottom;
}

.paperList .buttonText {
	font-size: 20px;
	color: yellow;
	padding-top: 3px;
}

.paperList .menu {
	text-align: center;
	position: absolute;
	margin: 150px 180px;
}

.errMsg {
	margin: 100px 86px;
	width: 420px;
	height: 200px;
	text-align: center;
}