/**
 * 	@author SergiyManko
 * */

@CHARSET "UTF-8";
body {
	font-family: LC Chalk;
	font-size: 20px;
	color: #505050;
}

.game {
	background: url('../images/Reversy/reversy_background.png') no-repeat;
	width: 620px;
	height: 725px;
	margin: 50px auto;
}
td {
	height: 40px;
	width: 40px;
	text-align: center;
}
.board {
	background-image: url("../images/Reversy/empty.png");
	background-repeat: no-repeat;
	
}
.x {
	background-image: url("../images/Reversy/X.gif");
	background-repeat: no-repeat;
}
.o {
	background-image: url("../images/Reversy/O.gif");
	background-repeat: no-repeat;
}