body {
	font-family: LC Chalk;
	font-size: 35px;
	color: #5B2FCE;
}

.clear {
	clear: both;
}

.content {
	background: url('../images/SB/game_sheet2.png') no-repeat;
	width: 620px;
	height: 725px;
	/* 	border: 1px solid red; */
	/* 	margin-top: 20px; */
	margin: 50px auto;
}

.caption {
	padding-top: 14px;
	/* 	padding-left: 133px; */
	/* 	border: 1px solid red; */
	/* 	width: 318px; */
	float: left;
	margin-left: 12px;
}

.deco_sheep {
	width: 220px;
	/* 	padding-left: 50px; */
	padding-top: 20px;
	/* 	border: 1px solid red; */
	margin-left: 301px;
}

.deco_sheep img {
	width: 210px;
}

.field1 { /*border: 1px solid red;*/
	background: url('../images/SB/field_background.png') no-repeat;
	width: 207px;
	height: 208px;
	margin-top: 28px;
	margin-left: 219px;
}

.field1 .h_markers {
	font-size: 20px;
	font-weight: bold;
	margin-top: -28px;
	margin-left: -4px;
}

.field1 .h_markers .a {
	padding-left: 0px;
}

.v_markers .a {
	padding-left: 0px;
}

.field1 div {
	float: left;
	padding-left: 7px;
}

.field2 div {
	float: left;
	padding-left: 7px;
}

.v_markers {
	font-size: 12px;
	font-weight: bold;
	margin-left: -29px;
	width: 31px;
}

.v_markers .last10 {
	margin-left: -7px;
}

.v_markers div {
	float: none;
}

.field2 .h_markers {
	margin-left: -11px;
	font-size: 20px;
	font-weight: bold;
	margin-top: -28px;
}

.field2 .v_markers {
	width: 50px;
	margin-left: -32px;
	/* 	margin-top: -4px; */
}

.ammo { /* 	border: 1px solid; */
	position: relative;
	width: 140px;
	height: 199px;
	float: left;
	margin-top: 32px;
	margin-left: 20px;
}

.field2 { /* 	border: 1px solid red; */
	background: url('../images/SB/field_background.png') no-repeat;
	width: 209px;
	height: 208px;
	margin-top: 33px;
	margin-left: 219px;
}

.debug {
	font-size: 15px;
	font-family: sans;
	color: #056109;
}

.field1 table {
	margin-top: -199px;
	margin-left: 24px;
	/* 	border: 1px solid red; */
	width: 200px;
	height: 200px;
	table-layout: fixed;
}

.field2 table {
	margin-top: -201px;
	margin-left: 27px;
	width: 200px;
	table-layout: fixed;
}

tr td {
	text-align: center;
	height: 20px;
	width: 20px;
}

tr {
	height: 20px;
	width: 20px;
	text-align: center;
}

#sheep_4 { /*width: 77px;*/
	float: left;
	/*height: 17px;*/
}

#sheep_3 { /*width: 57px;*/
	float: left;
	/*height: 17px;*/
}

#sheep_2 { /*width: 37px;*/
	float: left;
	/*height: 17px;*/
}

#sheep_1 { /*width: 17px;*/
	float: left;
	/*height: 17px;*/
}

.sheep_cont img {
	margin-bottom: 20px;
	margin-top: 0px;
	margin-left: 1px;
}

.hover {
	background-color: rgba(88, 187, 11, 0.34);
}

.dn {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
}

.firePoint:hover {
	background-color: rgba(255, 0, 0, 0.32);;
}

#table2:hover {
	cursor: url('../images/SB/shoot_cursor3.ico'), pointer;
}

.oponentName {
	position: relative;
	left: 240px;
	top: -200px;
	border: 1px dashed;
	width: 70px;
	font-size: 15px;
}

.field {
	background: url('../images/SB/field_background.png') no-repeat;
	width: 207px;
	height: 208px;
	margin-top: 28px;
	margin-left: 219px;
}

.field div {
	float: left;
	padding-left: 7px;
}

.field .h_markers {
	font-size: 20px;
	font-weight: bold;
	margin-top: -28px;
	margin-left: -4px;
}

.field .h_markers .a {
	padding-left: 0px;
}

.v_markers .a {
	padding-left: 0px;
}

.sound {
	margin-left: 545px;
}

.sound img {
	margin-top: -76px;
}

.sound:hover {
	cursor: pointer;
}