/* body { */
/* 	font-family: LC Chalk; */
/* 	font-size: 35px; */
/* 	color: #5B2FCE; */
/* } */
.plbs {
	background: url("../images/SB/list.png") no-repeat;
}

.clear {
	clear: both;
}

.BigSheep {
	float: left;
}

.BigSheep img {
	height: 410px;
	width: 410px;
}

.content {
	/*background: url('../images/SB/game_sheet2.png') no-repeat;*/
	background: url('../images/list.png') no-repeat;
	width: 620px;
	height: 725px;
	/* 	border: 1px solid red; */
	/* 	margin-top: 20px; */
	margin: 50px auto;
}

.caption {
	padding-top: 14px;
	float: left;
	margin-left: 80px;
	margin-top: 30px;
	font-size: 31px;
}

.deco_sheep {
	width: 220px;
	/* 	padding-left: 50px; */
	padding-top: 20px;
	/* 	border: 1px solid red; */
	/* 	margin-left: 301px; */
	float: left;
}

.deco_sheep img {
	width: 210px;
}

.field1 { /*border: 1px solid red;*/
	background: url('../images/SB/field_background.png') no-repeat;
	width: 207px;
	height: 208px;
	margin-top: 28px;
	margin-left: 225px; /*219*/
}

.field1 .h_markers {
	font-size: 20px;
	font-weight: bold;
	margin-top: -28px;
	margin-left: -4px;
}

.field1 .h_markers .a {
	padding-left: 0px;
}

.v_markers .a {
	padding-left: 0px;
}

.field1 div {
	float: left;
	padding-left: 7px;
}

.field2 div {
	float: left;
	padding-left: 7px;
}

.v_markers {
	font-size: 12px;
	font-weight: bold;
	margin-left: -30px;
	width: 29px;
	position: absolute;
	margin-top: 3px;
}

.v_markers .last10 {
	margin-left: -7px;
}

.v_markers div {
	float: none;
}

.field2 .h_markers {
	margin-left: -11px;
	font-size: 20px;
	font-weight: bold;
	margin-top: -28px;
	position: absolute;
}

.field2 .v_markers {
	width: 50px;
	margin-left: -30px;
	position: absolute;
	margin-top: 4px;
}

.ammo { /* 	border: 1px solid; */
	position: relative;
	width: 140px;
	height: 199px;
	float: left;
	margin-top: 32px;
	margin-left: 86px; /*20*/
}

.field2 { /* 	border: 1px solid red; */
	background: url('../images/SB/field_background.png') no-repeat;
	width: 209px;
	height: 208px;
	margin-top: 33px;
	margin-left: 225px; /*219*/
}

.debug {
	font-size: 15px;
	font-family: sans;
	color: #056109;
	position: absolute;
}

.field1 table {
	margin-top: -199px;
	margin-left: 26px;
	/* 	border: 1px solid red; */
	width: 200px;
	height: 200px;
	table-layout: fixed;
}

.field2 table {
	margin-top: -200px;
	margin-left: 26px;
	width: 200px;
	table-layout: fixed;
}

#table2 tr td,#table1 tr td,#table tr td {
	text-align: center;
	height: 20px;
	width: 20px;
}

#table2 tr,#table1 tr,#table tr {
	height: 20px;
	width: 20px;
	text-align: center;
}

#sheep_4 { /*width: 77px;*/
	float: left;
	/*height: 17px;*/
}

#sheep_3 { /*width: 57px;*/
	float: left;
	/*height: 17px;*/
}

#sheep_2 { /*width: 37px;*/
	float: left;
	/*height: 17px;*/
}

#sheep_1 { /*width: 17px;*/
	float: left;
	/*height: 17px;*/
}

.sheep_cont img {
	margin-bottom: 20px;
	margin-top: 0px;
	margin-left: 1px;
}

.hover {
	background-color: rgba(88, 187, 11, 0.34);
}

.dn {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.firePoint:hover {
	background-color: rgba(255, 0, 0, 0.32);;
}

#table2:hover {
	cursor: url('../images/SB/shoot_cursor3.ico'), pointer;
}

.oponentName {
	position: relative;
	left: 240px;
	top: -200px;
	border: 1px dashed;
	width: 70px;
	font-size: 15px;
}

.field {
	background: url('../images/SB/field_background.png') no-repeat;
	width: 207px;
	height: 208px;
	margin-top: 28px;
	margin-left: 225px; /*219*/
}

.field div {
	float: left;
	padding-left: 7px;
}

.field .h_markers {
	font-size: 20px;
	font-weight: bold;
	margin-top: -28px;
	margin-left: -4px;
}

.field .h_markers .a {
	padding-left: 0px;
}

.v_markers .a {
	padding-left: 0px;
}

.sound {
	width: 50px;
	height: 40px;
	height: 40px;
	position: relative;
	top: 80px;
	width: 50px;
	left: 547px;
}

.SbMButtonRightHome {
	background-image: url('../images/paperList/home_sprite.png');
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	cursor: pointer;
	position: absolute;
	margin: 20px 540px;
}

.SbMButtonRightStop {
	background: url("../images/SB/stop.png") no-repeat;
	position: relative;
	top: 35px;
	height: 49px;
	width: 50px;
	left: 544px;
	cursor: pointer;
}

.SbMButtonRightStop:hover {
	background: url("../images/SB/stop.png") bottom no-repeat;
	height: 51px;
	width: 50px;
}

.BSGo {
	background: url("../images/SB/BSGo.png") no-repeat;
	position: relative;
	top: 110px;
	height: 49px;
	width: 50px;
	left: 544px;
	cursor: pointer;
}

.BSGo:hover {
	background: url("../images/SB/BSGo.png") bottom no-repeat;
	height: 51px;
	width: 50px;
}

.sound img {
	position: relative;
	top: -93px;
}

.sound:hover {
	cursor: pointer;
}

.SbMenu {
	margin: 0px auto;
	/* 	height: 600px; */
	/* 	width: 1000px; */
}

.SbMButtons {
	margin-left: 0px;
}

.SbMConnectG {
	background: url('../images/SB/SbMConnect_sprite.png') no-repeat;
}

.SbMCreateG {
	background: url('../images/SB/SbMCreate_sprite.png') no-repeat;
}

.SbMHelp {
	background: url('../images/SB/BSHelp.png') no-repeat;
}

.SbMConnectG,.SbMCreateG, .SbMHelp {
	float: left;
	width: 100px;
	height: 95px;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	margin-left: 25px;
	padding-top: 5px;
	text-align: center;
	margin-bottom: -5px;
}

.b_text {
	font-size: 16PX;
	text-align: center;
	line-height: 1.4;
}

.SbMConnectG:hover {
	background: url('../images/SB/SbMConnect_sprite.png') bottom no-repeat;
}

.SbMCreateG:hover {
	background: url('../images/SB/SbMCreate_sprite.png') bottom no-repeat;
}

.SbMHelp:hover {
	background: url('../images/SB/BSHelp.png') bottom no-repeat;
}

.SbMSheep img {
	width: 305px;
	margin: 28px 0 16px 145px;
	float: left;
}

.SbMConnectGPlaceholder {
	float: left;
	width: 150px;
	margin-left: 10px;
}

.SbMCreateGPlaceholder {
	float: left;
	width: 150px;
	margin-left: 60px;
}

.SbMHelpPlaceholder {
	float: left;
	width: 150px;
	margin-left: 10px;
}

.SbMButtonsRight { /* 	float: left; */
	/* 	margin-left: 95px; */
	/* padding-top: 17px; */
	position: relative;
	top: 30px;
	left: 545px;
	width: 50px;
}

/* .SbMButtonRightHome { */
/* 	background: url("../images/SB/Home_sprite.png") no-repeat; */
/* 	width: 41px; */
/* 	height: 44px; */
/* 	cursor: pointer; */
/* } */
.SbMButtonRightHome:hover {
	background: url("../images/SB/Home_sprite.png") bottom no-repeat;
	width: 50px;
	height: 49px
}

.shturval {
	width: 92px;
	padding-left: 100px;
	margin-top: 13px;
}

.jakir {
	width: 54px;
	margin-top: 6px;
	float: left;
}

.decoImg {
	margin-left: 163px;
	margin-top: 1px;
}

.menuText {
	text-align: center;
	margin-left: -40px;
}

.ctgame {
	border: 2px ridge rgba(91, 47, 206, 0.69);
	width: 58px;
	font-size: 12px;
	text-align: center;
	overflow: hidden;
	padding-top: 3px;
	height: 60px;
	line-height: 1;
	cursor: pointer;
	float: left;
	margin-right: 17px;
}

.ctgame:hover {
	font-size: 13px;
	border: 2px ridge rgba(211, 30, 189, 0.69);
	text-decoration: underline;
}

.ctgame img {
	width: 35px;
}

.ServersList {
	margin-left: 87px;
	width: 400px;
	height: 176px;
}

#locker {
	
}

looseBody {
	background-color: red;
	font-family: LC Chalk;
	font-size: 35px;
	color: #5B2FCE;
}

victoryBody {
	background-color: green;
	font-family: LC Chalk;
	font-size: 35px;
	color: #5B2FCE;
}
.SbMButtonRightStat{
	background-image: url('../images/SB/stat.png');
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	cursor: pointer;
	position: absolute;
	margin: 70px 542px;
}
.SbMButtonRightStat:hover{
	background: url('../images/SB/stat.png') bottom no-repeat;
	width: 50px;
	height: 50px
}

.SbRules {
	width: 450px;
	margin-left: 70px;
	font-size: 14px;
}

.paperList .backButton {
background-image: url('../images/paperList/back_sprite.png');
background-repeat: no-repeat;
height: 40px;
width: 60px;
cursor: pointer;
position: absolute;
margin: 75px 540px;
}
.paperList .backButton:hover {
background: url('../images/paperList/back_sprite.png') bottom;
}