#sudoku #value {
	border: solid 2px;
	border-color: black;
	background-color: white;
	width: 65px;
	height: 120px;
	cursor: pointer;
	position: absolute;
	z-index: 2;
	display: none;
}

#sudoku #field {
	border-spacing: 0px;
	border-collapse: collapse;
	border: solid 3px;
	text-align: center;
}

#sudoku #field div {
	width: 30px;
	height: 30px;
	font-size: 20px;
	font-weight : bold;
	color: black;
	cursor: pointer;
}