.paperList {
	background-image: url('../images/XO/list.png');
	background-repeat: no-repeat;
	height: 734px;
	width: 675px;
	position: absolute;
	margin: -8px 550px;
	color: #5B2FCE;
}

.paperList .title {
	position: absolute;
	height: 30px;
	width: 675px;
	font-size: 30px;
}

.paperList .button {
	background-image: url('../images/XO/button.png');
	background-repeat: no-repeat;
	height: 35px;
	width: 270px;
	cursor: pointer;
}

.paperList .buttonText {
	font-size: 18px;
	color: #FFF;
}

.paperList .namespace {
	position: absolute;
	background-image: url('../images/XO/namespace.png');
	background-repeat: no-repeat;
	height: 30px;
	width: 193px;
}

.paperList .name {
	margin: 5px 20px;
}

.paperList .statistics {
	position: absolute;
	background-image: url('../images/XO/namespace2.png');
	background-repeat: no-repeat;
	height: 120px;
	width: 193px;
	z-index: 2;
}

.paperList .statTable {
	margin: 30px 10px;
}

.paperList #myName {
	margin: 30px 110px;
}

.paperList #opName {
	margin: 30px 350px;
}

.paperList #myNameStat {
	margin: 30px 110px;
}

.paperList #opNameStat {
	margin: 30px 350px;
}

.paperList #tick {
	position: absolute;
	margin-top: 5px;
	margin-left: 475px;
}

.paperList #home {
	position: absolute;
	margin-top: 10px;
	margin-left: 580px;
	cursor: pointer;
}

.paperList #outText {
	position: absolute;
	margin-top: 70px;
}

.paperList #win {
	position: absolute;
	margin-top: 250px;
	margin-left: 200px;
}

.paperList #menu {
	position: absolute;
	margin: 100px 200px;
}

.paperList #rulles {
	position: absolute;
	width: 400px;
	margin-top: 400px;
	margin-left: 150px;
}

.paperList #field {
	position: absolute;
	margin-top: 160px;
	margin-left: 116px;
}

.paperList #border {
	position: absolute;
	margin: 150px 105px;
}