.paperList {
	background-image: url('../images/XO/list.png');
	background-repeat: no-repeat;
	height: 734px;
	width: 675px;
	position: absolute;
	margin: -8px 550px;
	color: #5B2FCE;
}

.title {
	position: absolute;
	height: 30px;
	width: 675px;
	font-size: 30px;
}

.button {
	background-image: url('../images/XO/button.png');
	background-repeat: no-repeat;
	height: 35px;
	width: 270px;
	cursor: pointer;
}

.buttonText {
	font-size: 18px;
	color: #FFF;
}

.namespace {
	background-image: url('../images/XO/namespace.png');
	background-repeat: no-repeat;
	height: 30px;
	width: 193px;
}

.name {
	margin: 5px 20px;
}

#myName {
	position: absolute;
	margin-top: 30px;
	margin-left: 110px;
}

#opName {
	position: absolute;
	margin-top: 30px;
	margin-left: 350px;
}

#tick {
	position: absolute;
	margin-top: 5px;
	margin-left: 475px;
}

#home {
	position: absolute;
	margin-top: 10px;
	margin-left: 580px;
	cursor: pointer;
}

#outText {
	position: absolute;
	margin-top: 70px;
}

#win {
	position: absolute;
	margin-top: 250px;
	margin-left: 200px;
}

#menu {
	position: absolute;
	margin: 100px 200px;
}

#rulles {
	position: absolute;
	width: 400px;
	margin-top: 400px;
	margin-left: 150px;
}

#field {
	position: absolute;
	margin-top: 160px;
	margin-left: 116px;
}

#border {
	position: absolute;
	margin: 150px 105px;
}