#paperList {
	background-image: url('../images/XO/menuList.png');
	background-repeat: no-repeat;
	height: 734px;
	width: 675px;
	margin: -25px auto;
	font-family: Segoe Print;
	font-size: 20px;
	color: #5B2FCE;
}

#menu {
	margin: 100px 200px;
}

.button {
	background-image: url('../images/XO/button.png');
	background-repeat: no-repeat;
	height: 35px;
	width: 270px;
}

.text {
	margin-left: 50px;
	color: #F77;
}

#rulles {
	width: 400px;
	margin: 100px auto;
}