<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>School</display-name>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>epam.ph.sg.models.sb.JettyContext</listener-class>
	</listener>
	<filter>
		<filter-name>langFilter</filter-name>
		<filter-class>epam.ph.sg.web.filters.LanguageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>langFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>paperListFilter</filter-name>
		<filter-class>epam.ph.sg.web.filters.PaperListFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>paperListFilter</filter-name>
		<url-pattern>/Menu.html</url-pattern>
		<url-pattern>/PersonalPage.html</url-pattern>
		<url-pattern>/XOMenu.html</url-pattern>
		<url-pattern>/XOServerList.html</url-pattern>
		<url-pattern>/XOStatistics.html</url-pattern>
		<url-pattern>/XOCreate.html</url-pattern>
		<url-pattern>/XOGame.html</url-pattern>
		<url-pattern>/Points.html</url-pattern>
 		<url-pattern>/PointsGame.html</url-pattern>
  		<url-pattern>/PointsConnectList.html</url-pattern>
  		<url-pattern>/PointsEndGameWinner.html</url-pattern>
		<url-pattern>/PointsEndGameLooser.html</url-pattern>
		<url-pattern>/PointsStatistics.html</url-pattern>
		<url-pattern>/PointsRules.html</url-pattern>
		<url-pattern>/ReversyMenu.html</url-pattern>
		<url-pattern>/ReversyRules.html</url-pattern>
		<url-pattern>/ReversyCreateGame.html</url-pattern>
		<url-pattern>/ReversyConnectGame.html</url-pattern>
		<url-pattern>/ReversyGamesList.html</url-pattern>
		<url-pattern>/Reversy.html</url-pattern>
		<url-pattern>/ReversyVictory.html</url-pattern>
		<url-pattern>/ReversyDefeat.html</url-pattern>
		<url-pattern>/ReversyDraw.html</url-pattern>
		<url-pattern>/Sb.html</url-pattern>
		<url-pattern>/Infection.html</url-pattern>
		<url-pattern>/InfectionGame.html</url-pattern>
		<url-pattern>/InfectionWin.html</url-pattern>
		<url-pattern>/InfectionLose.html</url-pattern>
		<url-pattern>/InfectionRules.html</url-pattern>
		<url-pattern>/InfectionCreateGame.html</url-pattern>
		<url-pattern>/InfectionConnectList.html</url-pattern>
		<url-pattern>/InfectionStatistic.html</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>tabFilter</filter-name>
		<filter-class>epam.ph.sg.web.filters.TabFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>tabFilter</filter-name>
		<url-pattern>/TabHome.html</url-pattern>
		<url-pattern>/Chat.html</url-pattern>
		<url-pattern>/Sudoku.html</url-pattern>
		<url-pattern>/FlipperGame.html</url-pattern>
		<url-pattern>/MSGame.html</url-pattern>
		<url-pattern>/PuzzleGame.html</url-pattern>
		<url-pattern>/MSGame.html</url-pattern>
		<url-pattern>/PenguinsGame.html</url-pattern>
		<url-pattern>/PicsGame.html</url-pattern>
		
	</filter-mapping>
	<error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
</web-app>