<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>School</display-name>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>epam.ph.sg.models.sb.JettyContext</listener-class>
	</listener>
	<filter>
		<filter-name>userFilter</filter-name>
		<filter-class>epam.ph.sg.web.filters.UserFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>userFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>langFilter</filter-name>
		<filter-class>epam.ph.sg.web.filters.LanguageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>langFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>xoFilter</filter-name>
		<filter-class>epam.ph.sg.web.filters.XOFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>xoFilter</filter-name>
		<url-pattern>/XO.html</url-pattern>
		<url-pattern>/XOMenu.html</url-pattern>
		<url-pattern>/XOServerList.html</url-pattern>
		<url-pattern>/XOStatistics.html</url-pattern>
		<url-pattern>/XOCreate.html</url-pattern>
		<url-pattern>/XOGame.html</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>tabFilter</filter-name>
		<filter-class>epam.ph.sg.web.filters.TabFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>tabFilter</filter-name>
		<url-pattern>/TabHome.html</url-pattern>
		<url-pattern>/Chat.html</url-pattern>
		<url-pattern>/SudokuMenu.html</url-pattern>
		<url-pattern>/SudokuGame.html</url-pattern>
	</filter-mapping>
	<error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
</web-app>